<div class="row mt-5">
  <div class="headerContainer">
    <div class="card text-white bg-secondary mb-3 border-5 border-success" style="max-width: 25rem">
      <div class="card-header text-center">
        <h2>Add Product</h2>
      </div>
      <div class="card-body p-5">
        <form>
            <input type="text" class="form-control px-5" placeholder="Enter name">
            <input type="text" class="form-control px-5 mt-3" placeholder="Enter description">
            <input type="text" class="form-control px-5 mt-3" placeholder="Enter price">
            <input type="text" class="form-control px-5 mt-3" placeholder="Enter stock">

            <div class="btnContainer">
                <div>
                    <button type="button" class="btn btn-secondary" routerLink="/">Return</button>
                </div>
                <div>
                    <button type="button" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
